<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>klikandpay</name>
            <displayName><![CDATA[KlikAndPay]]></displayName>
            <version><![CDATA[3.10]]></version>
            <description><![CDATA[Permet &agrave; vos clients de payer par Klik&amp;Pay]]></description>
            <author><![CDATA[Klik&amp;Pay]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>